# Python
__pycache__/
*.py[cod]
*.egg-info/

# Virtual environments
venv/
.venv/

# Testing
.pytest_cache/

# Secrets
.env

# IDE
.vscode/
.idea/

# Frontend
node_modules/
dist/
build/

# OS
.DS_Store
Thumbs.db